[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
# リモートユーザーは inventory/group_vars/all.yml の ansible_user で指定（任意に変更可）
stdout_callback = default
result_format = yaml
callbacks_enabled = ansible.posix.profile_tasks
interpreter_python = auto_silent
deprecation_warnings = False
retry_files_enabled = False
forks = 10

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
